{% extends 'base.html' %}
{% load rules %}

{% block content %}
<h1>Responsibilities</h1>
<ul class="list-unstyled">
    <li>
        <a href="{% url 'concert:technicianList' %}">My technical responsibilities</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-4">
        <h3>Upcoming concerts</h3>
        <ul class="list-group">
            {% for concert in upcoming_concerts %}
            <li class="list-group-item">
                <a href="{{ concert.get_absolute_url }}">
                    {{ concert }}
                </a>
                <p>
                    {{ concert.concert_time }}
                </p>
            </li>
            {% empty %}
            No upcoming concerts.
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-4">
        <h3>Pending offers</h3>
        <ul class="list-group">
            {% for offer in pending_offers %}
            <li class="list-group-item">
                <a href="{{ offer.get_absolute_url }}">
                    {{ offer.concert_name }}
                </a>
                <p>
                    {{ offer.band }}
                </p>
                <p>
                    {{ offer.status }}
                </p>
            </li>
            {% empty %}
            No pending offers.
            {% endfor %}
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Your roles</h3>
        <div class="btn-group">
            {% has_perm 'concert.book' user as can_book_concert %}
            {% if can_book_concert %}
            <a class="btn btn-default" href="{% url 'dashboards:booking' %}">Booking manager</a>
            {% endif %}
        </div>
    </div>
</div>


{% comment %}
<h1>Users</h1>

<ul>
    {% for user in user_list %}
    <li>{{ user.username }}</li>
    {% endfor %}
</ul>

{% if group_list %}
<h1>Groups</h1>
{% for group in group_list %}
<h4> {{ group }} </h4>

<ul>
    {% for member in group.user_set.all %}
    <li> {{ member }} </li>
    {% empty %}
    No members.
    {% endfor %}
</ul>

{% endfor %}
{% endif %}

<h1>Bands</h1>
<ul>
    {% for band in band_list %}
    <li>
        <a href="{% url 'admin:bands_band_change' band.id %}">
            {{ band }}
        </a>
    </li>
    {% endfor %}
</ul>

<h1>Stages</h1>
<ul>
    {% for stage in stage_list %}
    <li>
        <a href="{% url 'admin:bands_stage_change' stage.id %}">
            {{ stage }}
        </a>
    </li>
    {% endfor %}
</ul>

<h1>Concerts</h1>
<ul>
    {% for concert in concert_list %}
    <li>
        <a href="{% url 'concert:detail' concert.id %}">
            {{ concert }}
        </a>
    </li>
    {% endfor %}
</ul>

<h1>Festivals</h1>
<ul>
    {% for festival in festival_list %}
    <li>
        <a href="{% url 'festival:detail' festival.id %}"> {{ festival }} </a>
    </li>
    {% endfor %}
</ul>

{% endcomment %}

{% endblock content %}
