{% extends 'base.html' %}
{% load rules %}
{% load static %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<h1>Responsibilities</h1>
<ul class="list-unstyled">
    <li>
        <a href="{% url 'concert:technicianList' %}">My technical responsibilities</a>
    </li>
</ul>

<div class="row">


    {% if user.manages.all %}
    <div class="col-sm-4">
        <h3>Artists you manage</h3>
        <ul class="list-group">
            {% for band in user.manages.all %}
            <li class="list-group-item">
                <a href="{{ band.get_manager_url }}">
                    {{ band }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Your roles</h3>
        <div class="btn-group">
            {% has_perm 'concert.book' user as can_book_concert %}
            {% if can_book_concert %}
            <a class="btn btn-default" href="{% url 'dashboards:booking' %}">Booking manager</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
</div>

{% include 'bands/calendar.html' %}

{% endblock content %}
