{% extends 'base.html' %}

{% block content%}

<h1>{{ band.name }}</h1>

<h3>Previous concerts</h3>
<table class="table">

    <tr>
        <th>Concert</th>
        <th>Date</th>
        <th>Festival</th>
    </tr>
    {% for concert in band.concert_set.all %}
    <tr>
        <td>{{ concert }}</td>
        <td>{{ concert.concert_time|date:"d M Y" }}</td>
        <td>{{ concert.festival_set.first }}</td>
    </tr>
    {% endfor %}
</table>

{% comment %}
TODO:
Vi må finne ut hva vi skal gjøre dersom et band har spilt både
uavhengige konserter og konserter på festival

Filtrer på kun tidligere konserter
{% endcomment %}

<h3>Popularity</h3>
<h5>Sold albums</h5>
<p>{{ band.sold_albums }}</p>

<h5>Total streams</h5>
<p>{{ band.total_streams }}</p>

{% endblock content %}
