{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<h1>Booking Dashboard</h1>

<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'offer:new' %}?next={{ request.path }}">
            Make an offer
        </a>
    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <h3>Pending offers</h3>
        <p>
            {{ pending_offers.count}} pending offer{{ pending_offers.count|pluralize }}.
        </p>
        <ul class="list-group">
            {% for offer in pending_offers %}
            <li class="list-group-item">
                <a href="{{ offer.get_absolute_url }}">
                    {{ offer.concert_name }}
                </a>
                <p>
                    {{ offer.band }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-4">
        <h3>Accepted offers</h3>
        <p>
            {{ accepted_offers.count}} accepted offer{{ accepted_offers.count|pluralize }}.
        </p>
        <ul class="list-group">
            {% for offer in accepted_offers %}
            <li class="list-group-item">
                <a href="{{ offer.get_absolute_url }}">
                    {{ offer.concert_name }}
                </a>
                <p>
                    {{ offer.band }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-4">
        <h3>Rejected offers</h3>
        <p>
            {{ rejected_offers.count}} rejected offer{{ rejected_offers.count|pluralize }}.
        </p>
        <ul class="list-group">
            {% for offer in rejected_offers %}
            <li class="list-group-item">
                <a href="{{ offer.get_absolute_url }}">
                    {{ offer.concert_name }}
                </a>
                <p>
                    {{ offer.band }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Calendar</h3>
        <div id="calendar"></div>
    </div>
</div>

<script>
 $(document).ready(() => {
     $("#calendar").fullCalendar({
         events: '{% url "api:occurrences" %}',
         defaultView: 'agendaWeek',
         header: {
             right: 'month,agendaWeek,agendaDay',
             left: 'prev,today,next'
         },
         firstDay: 1,
         timeFormat: 'HH:mm',
         slotLabelFormat: 'HH:mm',
         slotDuration: '00:30:00',
         scrollTime: '14:00:00',
         columnFormat: 'ddd D. MMM',
     })
 })
</script>

{% endblock content %}
