<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="unset-margin" style="height: 1.2em; overflow-x: hidden; width: 100%;">
                <a href="{% url 'concert:detail' Concert.id %}">
                    {{ Concert.name }}
                </a>
            </h3>
            <h4> {{ Concert.band_name }} </h4>
        </div>
        <div class="panel-body" style="height: 350px; overflow-y: auto;">
            <p> {{ Concert.concert_description}} </p>
            <p> Stage: {{ Concert.stage_name }}</p>
            <p> Time: {{ Concert.concert_time }}</p>
            <h3> Light technicians </h3>
            <ul>
                {% for lt in Concert.light_tech.all %}
                <li>
                    {{ lt }}
                </li>
                {% endfor %}
            </ul>
            <h3> Sound technicians </h3>
            <ul>
                {% for st in Concert.sound_tech.all %}
                <li>
                    {{ st }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
