{% extends 'base.html' %}

{% load bootstrap_pagination %}

{% block content %}
<h1>Concerts</h1>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="{% url 'concert:create' %}">Create concert</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% bootstrap_paginate page_obj %}
    </div>
</div>

<div class="row">
    {% for Concert in concert_list %}
    {% include './concert_card.html' %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        {% bootstrap_paginate page_obj %}
    </div>
</div>

{% endblock content %}
