<li>
    <h2> {{ Concert.name }} </h2>
	<p> {{ Concert.concert_description}} </p>
    <p> Scene: {{ Concert.stage_name }}</p>
    <p> Tid: {{ Concert.concert_time }}</p>
    <h3> Lysteknikere </h3>
    <ul>
        {% for lt in Concert.light_tech.all %}
            <li>
                {{ lt }}
            </li>
        {% endfor %}
    </ul>
    <h3> Lydteknikere </h3>
    <ul>
        {% for st in Concert.sound_tech.all %}
            <li>
                {{ st }}
            </li>
        {% endfor %}
    </ul>
</li>
