<div class="panel panel-default">
    <div class="panel-heading">
        <h1>
            <a href="{% url 'festival:detail' festival.id %}">
                {{ festival.name }}
            </a>
        </h1>
    </div>

    <div class="panel-body">
        <ul class="unstyled-list">
            <li>
                {{ festival.concerts.all.count }} concerts
            </li>
            <li>
                {{ festival.stages.distinct.count }} stages
            </li>
            <li>
                Starts {{ festival.first_concert.concert_time }}:
                <a href="{{ festival.first_concert.get_absolute_url }}">
                    {{ festival.first_concert }}
                </a>
            </li>
            <li>
                Ends {{ festival.last_concert.concert_time }}:
                <a href="{{ festival.last_concert.get_absolute_url }}">
                    {{ festival.last_concert }}
                </a>
            </li>
        </ul>

    </div>
</div>
