{% extends 'base.html' %}
{% load bootstrap_pagination %}


{% block content %}
<h1>Festivals</h1>

<div class="row">
    <div class="col-md-12">
<a class="btn btn-primary" href="{% url 'admin:bands_festival_add' %}">Create festival</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% bootstrap_paginate page_obj %}
    </div>
</div>


<div class="row">
    {% for festival in festival_list %}
    {% include './festival_small_card.html' %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        {% bootstrap_paginate page_obj %}
    </div>
</div>

{% endblock content %}
