{% extends 'base.html' %}


{% block content %}

<h1>{{ festival.name }}</h1>

<div>
    <a class="btn btn-default"
       href="{% url 'festival:pr_detail' festival.id %}">
        PR Overview
    </a>

    <a class="btn btn-primary"
       href="{% url 'admin:bands_festival_change' festival.id %}">
        Edit</a>

    <a class="btn btn-danger"
       href="{% url 'admin:bands_festival_delete' festival.id %}">
        Delete</a>
</div>

<hr/>

<a class="btn btn-default" href="#stage-report"> Stage overview </a>
<a class="btn btn-default" href="#genre-report"> Genre overview </a>

<h3 id="stage-report">Stage overview</h3>
{% for stage in festival.concerts_by_stage %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ stage.stage }}
        </h3>
    </div>
    <table class="table">
        <tr>
            <td class="col-xs-2">Total tickets sold</td>
            <td>{{ stage.total_tickets_sold }}</td>
        </tr>
        <tr>
            <td>Total profits</td>
            <td>{{ stage.total_profit }}</td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th class="col-xs-2">Concert</th>
            <th class="col-xs-1">Time</th>
            <th class="col-xs-1">Stage</th>
            <th class="col-xs-1">Tickets sold</th>
            <th class="col-xs-1">Profit</th>
        </tr>
        {% for concert in stage.concerts %}
        <tr>
            <td><a href="{{ concert.get_absolute_url }}">{{ concert }}</a></td>
            <td>{{ concert.concert_time }}</td>
            <td>{{ concert.stage_name }}</td>
            <td>{{ concert.tickets_sold }}</td>
            <td>{{ concert.profit }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{% comment %}
<h4>{{ stage.stage }}</h4>
<ul class="list-unstyled">
    {% for concert in stage.concerts %}
    <li>
        <a href="{% url 'concert:detail' concert.id %}">
            {{ concert.concert_time|date:"d M Y H:i" }}
            {{ concert.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endcomment %}

{% endfor %}

<hr/>

<h3 id="genre-report">Genre Report</h3>

{% for genre in festival.concerts_by_genre %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ genre.genre }}
        </h3>
    </div>
    <table class="table">
        <tr>
            <td class="col-xs-2">Total tickets sold</td>
            <td>{{ genre.total_tickets_sold }}</td>
        </tr>
        <tr>
            <td>Total profits</td>
            <td>{{ genre.total_profit }}</td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th class="col-xs-2">Concert</th>
            <th class="col-xs-1">Time</th>
            <th class="col-xs-1">Stage</th>
            <th class="col-xs-1">Tickets sold</th>
            <th class="col-xs-1">Profit</th>
        </tr>
        {% for concert in genre.concerts %}
        <tr>
            <td><a href="{{ concert.get_absolute_url }}">{{ concert }}</a></td>
            <td>{{ concert.concert_time }}</td>
            <td>{{ concert.stage_name }}</td>
            <td>{{ concert.tickets_sold }}</td>
            <td>{{ concert.profit }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endfor %}


{% endblock content %}
