{% extends 'base.html' %}


{% block content %}

{% include './festival_card.html' %}

<a class="btn btn-primary"
   href="{% url 'admin:bands_festival_change' festival.id %}">
    Edit</a>

<a class="btn btn-danger"
   href="{% url 'admin:bands_festival_delete' festival.id %}">
    Delete</a>

<h3> Concerts sorted by Genre</h3>
    <table class="table">
    <tr>
        <th>Genre</th>
        <th>Concerts</th>
        <th>Stages</th>
        <th>Attendees</th>
    </tr>
    {% for genre in festival.concerts_by_genre %}
    <tr>
        <td>{{ genre.genre }}</td>
        {% for concert in genre.concerts %}
            <td>{{ concert }}</td>

                <!--{% for scene in festival.concerts_by_genre %}
                    <td>{{ scene.scene }}</td>

                    {% for attendees in festival.concert_by_genre %}
                        <td>{{ attendees.attendees }}</td>
                    {% endfor %}


                {% endfor %}--!>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!-- <h2>Concerts</h2> -->
<!-- <hr/> -->
<!-- <ul> -->
<!-- {% for concert in festival.concerts.all %} -->
<!-- {{ concert.stage_name }} -->
<!-- {% empty %} -->
<!-- No concerts added to festival yet. -->
<!-- {% endfor %} -->
<!-- </ul> -->

{% endblock content %}
