<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="unset-margin">
                <a href="{{ stage.get_absolute_url }}">
                    {{ stage.name }}
                </a>
            </h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Stage size</dt>
                <dd>{{ stage.get_stage_size_display }}</dd>

                <dt>Seats</dt>
                <dd>{{ stage.num_seats }}</dd>

                <dt>Concerts</dt>
                <dd>{{ stage.concert_set.count }}</dd>

                <dt>Cost</dt>
                <dd>{{ stage.stage_costs }}</dd>

            </dl>
        </div>
    </div>

</div>
