{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<h1>{{stage.name}}</h1>

<h3>Search for bands</h3>
<p>Search for bands that have performed on this stage.</p>
<form method="post" action="/search_band/" class="">
    {% crispy form %}
</form>

{% if upcoming_concerts %}
<a href="{{stage.get_absolute_url}}upcoming"><h3>Upcoming artists</h3></a>
<table class="table">
    <tr>
        <th class="col-md-4">Artist</th>
        <th class="col-md-4">Concert</th>
        <th class="col-md-4">Time</th>
    </tr>
    {% for concert in upcoming_concerts%}
    <tr>
        <td>
            <a href="{{concert.band_name.get_absolute_url}}">
                {{concert.band_name}}
            </a>
        </td>
        <td>
            <a href="{{ concert.get_absolute_url }}">
                {{concert}}
            </a>
        </td>
        <td>
            {{concert.concert_time}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if previous_concerts %}
<a href="{{stage.get_absolute_url}}previous"><h3>Previous artists</h3></a>
<table class="table">
    <tr>
        <th class="col-md-4">Artist</th>
        <th class="col-md-4">Concert</th>
        <th class="col-md-4">Time</th>
    </tr>
    {% for concert in previous_concerts %}
    <tr>
        <td>
            <a href="{{concert.band_name.get_absolute_url}}">
                {{concert.band_name}}
            </a>
        </td>
        <td>
            <a href="{{ concert.get_absolute_url }}">
                {{concert}}
            </a>
        </td>
        <td>
            {{concert.concert_time}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock content %}

