{% extends 'base.html' %}


{% block content %}

<h1>{{stage.name}}</h1>


<h2> Previous artists on this stage </h2>
<table class="table">
    <tr>
        <th>Concert Name</th>
        <th>Artist</th>
        <th>Time</th>
    </tr>
    {% for concert in stage.previous_five_concerts %}
    <tr>
        <td>
            <a href="{{ concert.get_absolute_url }}">
                {{concert}}
            </a>
        </td>
        <td>
            <a href="{{concert.band_name.get_absolute_url}}">
                {{concert.band_name}}
            </a>
        </td>
        <td>
            {{concert.concert_time}}
        </td>
    </tr>
    {% endfor %}
</table>
<h2>Upcoming artists</h2>
<ul>
    {% for concert in stage.upcoming_five_concerts %}
    <li>
        <a href="{{ concert.get_absolute_url }}">
        {{concert}}
            {{concert.concert_time}}
            </a>
    </li>
    {% endfor %}</ul>
{% endblock content %}
