{% if user in object.light_tech.all or user in object.sound_tech.all %}
    <li>
        <h2> <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> </h2>
        <p> {{ object.concert_description}} </p>
        <p> Scene: {{ object.stage_name }}</p>
        <p> Time: {{ object.concert_time }}</p>
        {% if user in object.sound_tech.all and user in object.light_tech.all %}
            <p> Position: light and sound technician</p>
            <h4> Light requirements </h4>
            <pre>{{ object.technicalneed_set.first.light }}</pre>
            <h4> Sound requirements </h4>
            <pre>{{ object.technicalneed_set.first.sound }}</pre>
        {% elif user in object.light_tech.all %}
            <p> Position: light technician</p>
            <h4> Light requirements </h4>
            <pre>{{ object.technicalneed_set.first.light }}</pre>
        {% else %}
            <p> Position: sound technician</p>
            <h4> Sound requirements </h4>
            <pre>{{ object.technicalneed_set.first.sound }}</pre>
        {% endif %}
    </li>
{% endif %}
