body {
    padding-top: 50px;
    margin-bottom: 200px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
}

.highlight {
    background-color: yellow;
}

.horizontal-checkboxes .controls {
    display: flex;
    flex-wrap: wrap;
}

.horizontal-checkboxes .checkbox {
    min-width: 9em;
    height: 2em;
    margin: 0;
}

.checkbox + .checkbox {
    margin-top: 0;
}

.unset-margin {
    margin: inherit;
}
