{% extends 'base.html' %}

{% block content %}
<h1>Users</h1>

<ul>
    {% for user in user_list %}
    <li>{{ user.username }}</li>
    {% endfor %}
</ul>

<h1>Bands</h1>
<ul>
    {% for band in band_list %}
    <li>{{ band }}</li>
    {% endfor %}
</ul>

<h1>Stages</h1>
<ul>
    {% for stage in stage_list %}
    <li>{{ stage }}</li>
    {% endfor %}
</ul>

<h1>Festivals</h1>
<ul>
    {% for festival in festival_list %}
    <li>{{ festival }}</li>
    {% endfor %}
</ul>

{% endblock content %}
